/* sm mobile  */
@media screen and (max-width: 575px) {}

/* big mobile  */
@media screen and (min-width: 576px) {}

/* tablet  */
@media screen and (min-width: 768px) {
    .social{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
    .social_media {
      flex-direction: column;
      /* background-color: red; */
      margin-right: 40px;
    }
    .social_media>li{
        margin-bottom: 10px;
    }
}

/* sm desltop */
@media screen and (min-width: 992px) {}

/* big desktop */
@media screen and (min-width: 1200px) {}

/* 4K  */
@media screen and (min-width: 1400px) {}