/* sm mobile  */
@media screen and (max-width: 575px) {
    .row1 {
        background-attachment: fixed;
    }

    #chart>li {
        width: 100%;
        margin-top: 20px;
    }
}

/* big mobile  */
@media screen and (min-width: 576px) {
    #chart>li {
        width: 100%;
    }
}

/* tablet  */
@media screen and (min-width: 768px) {
    .social {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .social_media {
        flex-direction: column;
        /* background-color: red; */
        margin-right: 40px;
    }

    .social_media>li {
        margin-bottom: 10px;
    }

    #chart>li {
        width: 48%;
        margin: 2px;
    }
}

/* sm desltop */
@media screen and (min-width: 992px) {
    #chart>li {
        width: 23%;
    }
    #chart{
        display: flex;
        justify-content: space-evenly;
    }
}

/* big desktop */
@media screen and (min-width: 1200px) {
    .row1 {
        padding: 0 5%;
    }
}

/* 4K  */
@media screen and (min-width: 1400px) {}