* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100%;
}
$flag: 1;
.bt {
    @if ($flag==1) {
        border: 1px solid red;
    } @else {
        border: none;
    }
}
