$blue: rgb(21, 25, 49);
$yellow: #f9ca21;
$gray: rgb(247, 247, 247);
$text: rgb(70, 67, 94);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a,
a:active,
a:visited {
    text-decoration: none;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100%;
}
li {
    list-style-type: none;
}
$flag: 1;
.bt {
    @if ($flag==1) {
        border: 1px solid red;
    } @else {
        border: none;
    }
}
header,
main,
footer {
    @extend .bt;
}

header {
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: #21f933;
    flex-wrap: wrap;
    .logo {
        @extend .bt;
        height: 35%;

        > figure {
            height: 80%;
            @extend .bt;
            margin: 0;
            // overflow: hidden;
            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        > p {
            background-color: $yellow;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
        }
    }
    > nav {
        height: 70%;
        background-color: $blue;

        > ul {
            width: 100%;
            height: 80%;
            overflow: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            @extend .bt;
            padding: 0;
            // background-color: beige;
            padding-top: 5%;
            > li {
                @extend .bt;
                width: 100%;

                &:hover > a,
                &:hover > a > i {
                    color: $yellow;
                }
                > a {
                    > i {
                        margin: 0 10px;
                        font-size: 1rem;
                        color: white;
                        transition: all 0.4s;
                    }
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;
                    height: 100%;
                    transition: all 0.4s;
                    padding: 5% 0 5% 20%;
                    color: white;
                    font-size: 1rem;
                }
            }
        }
    }
}
.mobileMenu {
    width: 80px;
    height: 80px;
    @extend .bt;
    position: fixed;
    right: 0;
    top: 10px;
    cursor: pointer;
    transition: all 0.4s;
    background-color: $blue;
    border-radius: 5px;
    &:hover > ul {
        width: 200px;
    }
    &:hover {
        border-radius: 50%;
    }
    &:hover > div {
        margin-left: 5px;
    }
    &:hover > div > span {
        &:nth-of-type(1) {
            transform: rotate(41deg);
        }
        &:nth-of-type(2) {
            opacity: 0;
        }
        &:nth-of-type(3) {
            transform: rotate(-41deg);
        }
    }
    > div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
        height: 100%;
        transition: all 0.2s;
        > span {
            display: block;
            height: 3px;
            background-color: $yellow;
            width: 90%;
            border-radius: 50px;
            transition: all 0.3s;
            transform-origin: left;

            &:nth-of-type(2) {
                margin: 13px 0;
            }
        }
    }

    ul {
        margin-top: 5px;
        position: fixed;
        @extend .bt;
        right: 0;
        height: 88vh;
        width: 00px;
        background-color: $blue;
        transition: all 0.4s;
        overflow: hidden;
        @extend .bt;
        padding: 0;
        border-radius: 5px;
        // background-color: beige;
        padding-top: 5%;
        > li {
            @extend .bt;
            width: 100%;

            &:hover > a,
            &:hover > a > i {
                color: $yellow;
            }
            > a {
                > i {
                    margin: 0 10px;
                    font-size: 1rem;
                    color: white;
                    transition: all 0.4s;
                }
                display: flex;
                justify-content: flex-start;
                width: 100%;
                height: 100%;
                transition: all 0.4s;
                padding: 5% 0 5% 20%;
                color: white;
                font-size: 1rem;
            }
        }
    }
}
main {
    height: 600vh;
    background-image: linear-gradient(45deg, red, blue);
    .row1{
        background-image: url();

    }
}
