* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:active,
a:visited {
  text-decoration: none;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
}

li {
  list-style-type: none;
}

.bt, header,
main,
footer, header .logo, header .logo > figure, header > nav > ul, header > nav > ul > li, .mobileMenu, .mobileMenu ul, .mobileMenu ul > li, main .row1 > div > div > section:nth-of-type(1) .coder, main .row1 .moving {
  border: 1px solid red;
}

.df, main .row1 .moving {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header {
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #21f933;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .logo {
  height: 35%;
}

header .logo > figure {
  height: 80%;
  margin: 0;
}

header .logo > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .logo > p {
  background-color: #f9ca21;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

header > nav {
  height: 70%;
  background-color: #151931;
}

header > nav > ul {
  width: 100%;
  height: 80%;
  overflow: scroll;
  padding: 0;
  padding-top: 5%;
}

header > nav > ul::-webkit-scrollbar {
  display: none;
}

header > nav > ul > li {
  width: 100%;
}

header > nav > ul > li:hover > a,
header > nav > ul > li:hover > a > i {
  color: #f9ca21;
}

header > nav > ul > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 5% 0 5% 20%;
  color: white;
  font-size: 1rem;
}

header > nav > ul > li > a > i {
  margin: 0 10px;
  font-size: 1rem;
  color: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.mobileMenu {
  z-index: 99;
  width: 80px;
  height: 80px;
  position: fixed;
  right: 0;
  top: 10px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #151931;
  border-radius: 5px;
}

.mobileMenu:hover > ul {
  width: 200px;
}

.mobileMenu:hover {
  border-radius: 50%;
}

.mobileMenu:hover > div {
  margin-left: 5px;
}

.mobileMenu:hover > div > span:nth-of-type(1) {
  -webkit-transform: rotate(41deg);
          transform: rotate(41deg);
}

.mobileMenu:hover > div > span:nth-of-type(2) {
  opacity: 0;
}

.mobileMenu:hover > div > span:nth-of-type(3) {
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
}

.mobileMenu > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.mobileMenu > div > span {
  display: block;
  height: 3px;
  background-color: #f9ca21;
  width: 90%;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.mobileMenu > div > span:nth-of-type(2) {
  margin: 13px 0;
}

.mobileMenu ul {
  margin-top: 5px;
  position: fixed;
  right: 0;
  height: 88vh;
  width: 00px;
  background-color: #151931;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
  padding: 0;
  border-radius: 20px 0 0 0px;
  padding-top: 5%;
}

.mobileMenu ul > li {
  width: 100%;
}

.mobileMenu ul > li:hover > a,
.mobileMenu ul > li:hover > a > i {
  color: #f9ca21;
}

.mobileMenu ul > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 5% 0 5% 20%;
  color: white;
  font-size: 1rem;
}

.mobileMenu ul > li > a > i {
  margin: 0 10px;
  font-size: 1rem;
  color: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

main {
  height: 600vh;
  background-image: linear-gradient(45deg, red, blue);
}

main .row1 {
  width: 100%;
  border: 2px solid black;
  height: 100vh;
  position: relative;
  background-image: url(../img/hosseinrow1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

main .row1 > div {
  height: 100%;
}

main .row1 > div > div {
  height: 100%;
}

main .row1 > div > div > section:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 40px;
}

main .row1 > div > div > section:nth-of-type(1) h1 {
  color: white;
}

main .row1 > div > div > section:nth-of-type(1) h1 > strong {
  color: #f9ca21;
}

main .row1 > div > div > section:nth-of-type(1) .coder {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 10px 0;
}

main .row1 > div > div > section:nth-of-type(1) .coder > p {
  position: absolute;
  color: white;
  font-size: 20px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  overflow: hidden;
  width: 0%;
  height: 30px;
  word-break: break-all;
}

main .row1 > div > div > section:nth-of-type(1) .coder > p > span {
  font-size: 15px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-animation: caret 0.7s infinite;
          animation: caret 0.7s infinite;
  padding-left: 3px;
}

main .row1 > div > div > section:nth-of-type(1) .coder > p:nth-of-type(1) {
  -webkit-animation: 5s coding infinite;
          animation: 5s coding infinite;
}

main .row1 > div > div > section:nth-of-type(1) > p {
  color: #f7f7f7;
  font-size: 20px;
  width: 100%;
  margin-bottom: 30px;
}

main .row1 > div > div > section:nth-of-type(1) > .btn {
  background-color: #f9ca21;
  color: #151931;
  font-size: 18px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

main .row1 > div > div > section:nth-of-type(1) > .btn:hover {
  letter-spacing: 1px;
  color: white;
  -webkit-box-shadow: 0 10px 10px 1px #21274e;
          box-shadow: 0 10px 10px 1px #21274e;
}

main .row1 > div > div > section:nth-of-type(2) > .social_media {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
}

main .row1 > div > div > section:nth-of-type(2) > .social_media > li {
  margin-right: 10px;
}

main .row1 > div > div > section:nth-of-type(2) > .social_media > li > a {
  font-size: 30px;
  color: #c3c8ff;
  border: 1px solid #c3c8ff;
  padding: 6px;
  border-radius: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

main .row1 > div > div > section:nth-of-type(2) > .social_media > li > a:hover {
  border-radius: 50%;
  color: #f9ca21;
  border: 1px solid #f9ca21;
}

main .row1 .moving {
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 40px;
  left: 50%;
}

main .row1 .moving > i {
  position: absolute;
  font-size: 40px;
  font-weight: bolder;
  color: #f9ca21;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

main .row1 .moving > i:nth-of-type(3) {
  -webkit-animation: moving3 1s .9s infinite alternate;
          animation: moving3 1s .9s infinite alternate;
  top: -20px;
  opacity: 0.5;
}

main .row1 .moving > i:nth-of-type(2) {
  -webkit-animation: moving2 1s 0.5s infinite alternate;
          animation: moving2 1s 0.5s infinite alternate;
  top: -10px;
  opacity: 0.8;
}

main .row1 .moving > i:nth-of-type(1) {
  -webkit-animation: moving1 1s infinite alternate;
          animation: moving1 1s infinite alternate;
  top: 0px;
}

@-webkit-keyframes coding {
  80% {
    width: 100%;
  }
  90% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes coding {
  80% {
    width: 100%;
  }
  90% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@-webkit-keyframes caret {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes caret {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes moving1 {
  90% {
    top: 7px;
  }
  100% {
    top: 7px;
  }
}

@keyframes moving1 {
  90% {
    top: 7px;
  }
  100% {
    top: 7px;
  }
}

@-webkit-keyframes moving2 {
  90% {
    top: -5px;
  }
  100% {
    top: -5px;
  }
}

@keyframes moving2 {
  90% {
    top: -5px;
  }
  100% {
    top: -5px;
  }
}

@-webkit-keyframes moving3 {
  90% {
    top: -10px;
  }
  100% {
    top: -10px;
  }
}

@keyframes moving3 {
  90% {
    top: -10px;
  }
  100% {
    top: -10px;
  }
}
/*# sourceMappingURL=style.css.map */